# from https://gist.github.com/dimkirt/873adea886c4204f74440a2a09d5b2a9 and gitignore.io
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
**/*.back.*
**/*.backup.*
*.code-workspace
*.ipynb
*.log
*.pid
*.pid.lock
*.seed
*.sublime*
*.tgz
.DS_*
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.grunt
.history
.lock-wscript
.node_repl_history
.npm
.nyc_output
.pnp.js
.vscode/*
.yarn-integrity
/.pnp
bower_components
build/Release
coverage
dist/
jspm_packages/
legacy/.idea/*
lib-cov
logs
node_modules
npm-debug.log*
pids
psd
sketch
thumb
typings/
yarn-debug.log*
yarn-error.log*